<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.lotterysurvey.mapper.AnswerResultMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.lotterysurvey.model.AnswerResult">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="answerScore" column="answerScore" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="answerTime" column="answerTime" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,answerScore,userId,
        createTime,endTime
    </sql>
    <select id="searchSpendTimeById" resultType="java.lang.String">
        select TIMEDIFF(createTime, endTime) as timediff
        from tcd_answerResult
        where id = #{id};
    </select>
</mapper>
