<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.lotterysurvey.mapper.StreetMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.lotterysurvey.model.Street">
            <id property="streetid" column="streetId" jdbcType="INTEGER"/>
            <result property="streetname" column="streetName" jdbcType="VARCHAR"/>
            <result property="cityid" column="cityId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        streetId,streetName,cityId
    </sql>
    <select id="searchStreetFullNameByStreetId" resultType="java.lang.String">
        select concat(c.cityName,s.streetName) as fullName
        from tcd_street s
                 left join tcd_city c on s.cityId = c.cityId
        where s.streetId = #{streetId}
    </select>
</mapper>
