<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.lotterysurvey.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.lotterysurvey.model.Team">
            <id property="teamid" column="teamId" jdbcType="INTEGER"/>
            <result property="teamname" column="teamName" jdbcType="VARCHAR"/>
            <result property="teamnumber" column="teamNumber" jdbcType="INTEGER"/>
            <result property="streetid" column="streetId" jdbcType="INTEGER"/>
            <result property="answerday" column="answerDay" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        teamId,teamName,teamNumber,
        streetId,answerDay
    </sql>
</mapper>
