<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.lotterysurvey.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.lotterysurvey.model.Team">
            <id property="teamid" column="teamId" jdbcType="INTEGER"/>
            <result property="teamname" column="teamName" jdbcType="VARCHAR"/>
            <result property="teamnumber" column="teamNumber" jdbcType="INTEGER"/>
            <result property="streetid" column="streetId" jdbcType="INTEGER"/>
            <result property="answerday" column="answerDay" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        teamId,teamName,teamNumber,
        streetId,answerDay
    </sql>
    <select id="searchAllByAnswerdayAndStreetid" resultType="java.lang.Integer">
        select count(*)
        from tcd_team
        where answerDay = #{answerDay} and streetId = #{streetId}
    </select>
    <select id="searchStreetidByTeamname" resultType="java.lang.Integer">
        select distinct streetId
        from tcd_team
        where teamName = #{teamName}
    </select>
    <select id="searchAllOrderByTeamNumber" resultType="com.chongdong.lotterysurvey.model.Team">
        SELECT teamName, streetId, SUM(teamNumber) AS teamNumber
        FROM tcd_team
        GROUP BY teamName, streetId
        ORDER BY teamNumber DESC;
    </select>
</mapper>
